<div *ngIf="loading"> Загрузка... </div>

<mat-card >
    <div>Текущие показания счетчиков:</div>
    <div>Холодной воды: <span>{{cold}}</span></div>
    <div>Горячей воды: <span>{{hot}}</span></div>
</mat-card>

<mat-card>
    <div>Последние переданные показания счетчиков (на {{historyDate}}):</div>
    <div>Холодной воды: <span>{{historyCold}}</span></div>
    <div>Горячей воды: <span>{{historyHot}}</span></div>
</mat-card>

<mat-card>
    <div>Расход:</div>
    <div>Холодной воды: <span>{{rateCold}}</span></div>
    <div>Горячей воды: <span>{{rateHot}}</span></div>
</mat-card>

<mat-card>
 <div>Обновить текущие показания</div>
</mat-card>

